{% extends "layout.html" %}
{% block title %}dashboard{% endblock %}
{% block body %}

<h1>Welcome to the LLVM Lab Dashboard!</h1>

<p>
The most recent released revision is<br>
&nbsp; &nbsp; r123456 <br>
validated at:<br>
&nbsp; &nbsp; 2011-06-01 10:34 <br>
(available <a href="#latest_release">below</a>).

<p>
The tree is currently: <b>open</b>.

<p>
<font color="#FF0000">
<b>WARNING!</b> LLVM is currently failing the <i>Living On</i> checks. The tree
will close in <b>35</b> minutes!
</font>


<a name="current_status">
  <h2>Current Status</h2>
</a>

{# The traffic light... #}
<table>
<thead>
  <tr>
  <tr>
    {% for phase in ci_config.phases %}
    <th>{{ phase.name }}<br>(Phase {{ phase.number }})</th>
    {% endfor %}
  </tr>
  <tr>
    <td align="center"><img src="/static/green.png" width="45" height="45"></td>
    <td align="center"><img src="/static/red.png" width="45" height="45"></td>
    <td align="center"><img src="/static/red.png" width="45" height="45"></td>
    <td align="center"><img src="/static/white.png" width="45" height="45"></td>
  </tr>
</table>

<hr>

{# The results table... #}
<table>
<thead>
  <tr>
    <th>Result Type</th>
    {% for phase in ci_config.phases %}
    <th>Phase {{ phase.number }}</th>
    {% endfor %}
  </tr>
</thead>
<tr>
  <td>Current</td>
  <td>r123485</td>
  <td>r123482</td>
  <td>(blocked)</td>
  <td>(blocked)</td>
</tr>
<tr>
  <td>Last Completed</td>
  <td>r123482</td>
  <td>r123477</td>
  <td>r123457</td>
  <td>r123456</td>
</tr>
<tr>
  <td>First Failing</td>
  <td>&nbsp;</td>
  <td>r123475</td>
  <td>r123457</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>Last Working</td>
  <td>r123482</td>
  <td>r123473</td>
  <td>r123456</td>
  <td>r123456</td>
</tr>
</table>


{# The builds archive table... #}
<a name="latest_release">
  <h2>Latest Release</h2>
</a>

<p>
The latest released sources are available here: <a href="XXX">llvm-rNNNNNN</a>.

<p>
Binary packages of the latest release:
<table width="100%">
  <thead>
    <tr>
      <th>Product</th>
      <th>OS</th>
      <th>Arch</th>
      <th width="80%" align="left">Archive</th>
    </tr>
  </thead>
  
  {% for build in ci_config.published_builds %}
  <tr>
    <td>{{ build.product }}</td>
    <td>{{ build.os }}</td>
    <td>{{ build.arch }}</td>
    <td><a href="/archives/{{ build.archive_name }}">{{
        build.archive_name }}</a></td>
  </tr>
  {% endfor %}
</table>

<h1>Example Phase Popups</h1>

{% include "dashboard_popup.html" %}

{% endblock %}
