{% extends "layout.html" %}

{% macro phase_popup_link(phase, build) %}
<a href='#'
   onclick='show_phase_popup("./phase/{{
            phase.number - 1 }}/{{
            build.source_stamp }}", event); return false;'
   title='Phase {{ phase.number }} {{ phase.name }} - {{ build.source_stamp }}'
   target="_blank">{{ caller() }}</a>
{% endmacro %}

{% block javascript %}
// Handler for phase onclick events.
function show_phase_popup(url, event) {
    // Get the popup elements.
    var popup = document.getElementById("phase_popup");
    var popup_frame = document.getElementById("phase_popup_frame");

    // Load the phase popup into the hidden frame.
    popup_frame.src = url;
}

// Handler for page load events inside the hidden iframe we use to load phase
// popups.
function popup_frame_loaded(event) {
    var popup = document.getElementById("phase_popup");
    var popup_frame = document.getElementById("phase_popup_frame");

    // Get the frame contents and put it in the popup div.
    var content = popup_frame.contentWindow.document.body.innerHTML;
    popup.innerHTML = content;
    popup.style.display = "block";
}

// On load, set the iframe's onload handler.
window.onload = function() {
    var popup_frame = document.getElementById("phase_popup_frame");
    popup_frame.onload = function(event) { popup_frame_loaded(event); };
}
{% endblock %}

{% block title %}dashboard{% endblock %}
{% block body %}

{# Get the current summary... #}
{% set summary = config.summary.get_current_status() %}

<h1>Welcome to the LLVM Lab Dashboard!</h1>

<p>
{% set final_phase = summary[ci_config.validation_builder] %}

{% if final_phase and final_phase.passing %}
The most recent released revision is <b>r{{
    final_phase.passing.source_stamp }}</b>
validated at:
<i>{{ final_phase.passing.end_time }}</i>
(available <a href="{{ url_for('latest_release') }}">here</a>).
{% else %}
<i><b>No release is currently available!</b></i>
{% endif %}

<p>
<font color="#FF0000">
  {% set is_failing = false %}
  {% for phase in ci_config.phases %}
  {% set phase_info = summary[phase.phase_builder] %}

  {% if (phase_info and phase_info.completed and not is_failing
         and phase_info.completed.result != 0) %}
  {% set is_failing = true %}

  <b>WARNING!</b> LLVM is currently failing the <i>{{ phase.name }}</i> checks.
  The failures started in r{{ phase_info.failing.source_stamp }} at {{
  phase_info.failing.end_time }}.

  {% endif %}

  {% endfor %}
</font>


<h2>Current Status</h2>

{# The traffic light... #}
<table>
<thead>
  <tr>
  <tr>
    {% for phase in ci_config.phases %}
    <th>{{ phase.name }}<br>(Phase {{ phase.number }})</th>
    {% endfor %}
  </tr>
  <tr>
    {% set is_failing = false %}
    {% for phase in ci_config.phases %}
    {% set phase_info = summary[phase.phase_builder] %}

    {# First, check if we have no status (no completed builds, or prior phase is
       failing). #}
    <td align="center">
    {% if not phase_info or not phase_info.completed or is_failing %}
      <img src="/static/white.png" width="45" height="45">
    {% else %}
      {% call phase_popup_link(phase, phase_info.completed) %}
      {% if phase_info.completed.result == 0 %}
      <img src="/static/green.png" width="45" height="45">
      {% else %}
      {% set is_failing = true %}
      <img src="/static/red.png" width="45" height="45">
      {% endif %}
      {% endcall %}
    {% endif %}
    </td>

    {% endfor %}
  </tr>
</table>

<hr>

{# The results table... #}

<table>
<thead>
  <tr>
    <th>Result Type</th>
    {% for phase in ci_config.phases %}
    <th>Phase {{ phase.number }}</th>
    {% endfor %}
  </tr>
</thead>
<tr>
  <td>Current</td>
  {% for phase in ci_config.phases %}
  {% set phase_info = summary[phase.phase_builder] %}

  {% if phase_info.current %}
  <td>
    {% call phase_popup_link(phase, phase_info.current[0]) %}
    r{{ phase_info.current[0].source_stamp }}
    {% endcall %}
  </td>
  {% else %}
  <td>(idle)</td>
  {% endif %}

  {% endfor %}
</tr>
<tr>
  <td>Last Completed</td>
  {% for phase in ci_config.phases %}
  {% set phase_info = summary[phase.phase_builder] %}

  {% if phase_info.completed %}
  <td>
    {% call phase_popup_link(phase, phase_info.completed) %}
    r{{ phase_info.completed.source_stamp }}
    {% endcall %}
  </td>
  {% else %}
  <td>(unknown)</td>
  {% endif %}

  {% endfor %}
</tr>
<tr>
  <td>First Failing</td>
  {% for phase in ci_config.phases %}
  {% set phase_info = summary[phase.phase_builder] %}

  {% if phase_info.failing and
        (not phase_info.passing or
         phase_info.failing.number > phase_info.passing.number) %}
  <td>
    {% call phase_popup_link(phase, phase_info.failing) %}
    r{{ phase_info.failing.source_stamp }}
    {% endcall %}
  </td>
  {% else %}
  <td></td>
  {% endif %}

  {% endfor %}
</tr>
<tr>
  <td>Last Working</td>
  {% for phase in ci_config.phases %}
  {% set phase_info = summary[phase.phase_builder] %}

  {% if phase_info.passing %}
  <td>
    {% call phase_popup_link(phase, phase_info.passing) %}
    r{{ phase_info.passing.source_stamp }}
    {% endcall %}
  </td>
  {% else %}
  <td>(unknown)</td>
  {% endif %}

  {% endfor %}
</tr>
</table>

{# The div we use to include phase popups. #}
<div id="phase_popup" style="display: none;"></div>
{# The iframe we use to load the phase popup source. This is never actually
   displayed, just used to load the HTML we insert into the popup div. #}
<iframe id="phase_popup_frame" style="display: none;"></iframe>

{% endblock %}
