<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>{{ self.title() }}</title>
  <link rel="stylesheet" type="text/css"{#
        #} href="{{ url_for('.static', filename='style.css') }}">
  {% block head %}{% endblock %}
  <script type='text/javascript'>
  {% block javascript %}{% endblock %}
  </script>
</head>
<body>
  <div class="header">
    <a href="{{ url_for('frontend.index') }}">{#
      #}lab.llvm.org</a> | {{ self.title() }}
    {% if session.logged_in %}
      &nbsp; &nbsp;
      Logged In: <i>{{ session.active_user }}</i>
    {% endif %}
  </div>
  <div class="flash_messages">
    {% for message in get_flashed_messages() %}
    <div class="flash_message">{{ message }}</div>
    {% endfor %}
  </div>
  <div class="body">{% block body %}{% endblock %}</div>
  <div class="footer">
    <a href="{{ url_for('frontend.index') }}">{#
      #}lab.llvm.org</a><br>
    <i>Administered by <a href="mailto:{{
                                        config['ADMIN_EMAIL'] }}">{{
      config['ADMIN_NAME'] }} &lt;{{
      config['ADMIN_EMAIL'] }}&gt;</a></i>
  </div>
</body>
</html>
