{# Fragment template for rendering an individual phase pop-up #}

<h3><a  href="{{ config.status.master_url }}/builders/{{
              phase.phase_builder }}">{{ phase.name }}</a>
    (Phase {{ phase.number }}) -
    <a href="{{ config.revlink_url % source_stamp }}">r{{ source_stamp }}</a></h3>
<table>
  <thead>
    <tr><th>Builder</th><th>Status</th></tr>
  </thead>
  {% for name,builds in phased_builds|dictsort %}
  <tr>
    <td><a href="{{ config.status.master_url }}/builders/{{ name }}">{{
        name }}</a></td>
    <td class="phase-cell">
      {% for build in builds %}
      {% if build.end_time == None %}
      {%   set kind = "running" %}
      {%   set text = "RUNNING" %}
      {% elif build.result == 0 %}
      {%   set kind = "success" %}
      {%   set text = "PASS" %}
      {% else %}
      {%   set kind = "failure" %}
      {%   set text = "FAIL" %}
      {% endif %}

      <a class="phase-cell {{ kind }}"
         href="{{ config.status.master_url }}/builders/{{
                  name }}/builds/{{ build.number }}">{{ text }}</a>

      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
