# Convert this file into a requirements.txt file by running:
#
# pip install pip-tools
# pip-compile -o requirements.txt  requirements.in
# pip-sync requirements.txt

## Direct buildbot 3.x declared dependencies. See buildbot/master/setup.py.
## setuptools==65.5.0 <-- just to setup the buildbot onvce. No need to have it in the requrements.
Twisted==22.10.0
Jinja2==3.1.4
zope.interface==6.4.post2
SQLAlchemy==1.4.52
psycopg2==2.9.9
python-dateutil==2.9.0.post0
txaio==23.1.1
autobahn==23.6.2
PyJWT==2.8.0
PyYAML==6.0.1
treq==23.11.0
Automat==22.10.0 # Explicitly require 22.10.0 for Python 3.11 support
attrs==23.2.0    # buildbot-workers needs this, but somehow misses in the dependancies

## Buildbot
-e ${HOME}/buildbot/master
buildbot-console-view==3.11.3
buildbot-grid-view==3.11.3
buildbot-waterfall-view==3.11.3
buildbot-worker==3.11.3
buildbot-www==3.11.3
