attrs==20.3.0
six==1.15.0
Automat==20.2.0
constantly==15.1.0
idna==2.10
hyperlink==21.0.0
incremental==21.3.0
Jinja2==2.11.3
Tempita==0.5.2
decorator==4.4.2
pbr==5.5.1
sqlparse==0.4.2
SQLAlchemy==1.3.23
sqlalchemy-migrate==0.13.0
certifi==2022.12.7
chardet==4.0.0
urllib3==1.26.8
requests==2.25.1
zope.interface==5.2.0
pexpect==4.9.0
pycparser==2.20
pyOpenSSL==24.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
service-identity==18.1.0
cryptography==42.0.5
cffi==1.14.5
Twisted==22.4.0
treq==22.1.0
psutil==5.9.8
lit==17.0.6
awscli==1.32.41