# -*- Python -*-

# LNT (aka Zorg) configuration file
#
# Paths are resolved relative to this file.

# Path to the LNT root.
zorg = ".."

# Path to the LNT server.
zorgURL = "http://llvm.org/perf/"

# The list of available databases, and their properties. At a minimum, there
# should be a 'default' entry for the default database.
databases = {
    'default' : { 'path' : '../data/default.db',
                  'showNightlytest' : 1 },
    'test' : { 'path' : '../data/test.db',
               'showNightlytest' : 1,
               'showGeneral' : 1 },
    'nt' : { 'path' : '../data/nt_internal.db',
             'showNightlytest' : 1 },
    'nt_mysql' : { 'path' : 'mysql://root:admin@localhost/nt_internal',
                   'showNightlytest' : 1 },
    }

# The LNT email configuration.
#
# The 'to' field can be either a single email address, or a list of
# (regular-expression, address) pairs. In the latter form, the machine name of
# the submitted results is matched against the regular expressions to determine
# which email address to use for the results.
nt_emailer = {
    'enabled' : False,
    'host' : "llvm.org",
    'from' : "lnt@llvm.org",

    # This is a list of (filter-regexp, address) pairs -- it is evaluated in
    # order based on the machine name. This can be used to dispatch different
    # reports to different email address.
    'to' : [(".*", "llvm-testresults@cs.uiuc.edu")],
    }

# Enable automatic restart using the wsgi_restart module; this should be off in
# a production environment.
wsgi_restart = False
