<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.llvm.smooshlab.slave</string>

    <!-- Change this to the user you want to run buildbot as -->
    <key>UserName</key>
    <string>buildslave</string>

    <!-- Change this to your buildbot working directory -->
    <key>WorkingDirectory</key>
    <string>/Users/buildslave/zorg/buildbot/smooshlab/slave</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/twistd</string>
      <string>--nodaemon</string>
      <string>--python=buildbot.tac</string>
      <string>--logfile=twistd.log</string>
      <string>--prefix=smooshlab</string>
    </array>

    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>SoftResourceLimits</key>
    <dict>
      <key>NumberOfFiles</key>
      <integer>1024</integer>
      <key>NumberOfProcesses</key>
      <integer>2048</integer>
    </dict>
    <key>HardResourceLimits</key>
    <dict>
      <key>NumberOfFiles</key>
      <integer>1024</integer>
      <key>NumberOfProcesses</key>
      <integer>2048</integer>
    </dict>
  </dict>
</plist>
