{% extends "layout.html" %}
{% set components = [] %}
{% block title %}Database Browser{% endblock %}
{% block body %}

{% set db = request.get_db() %}
<h3>Machines</h3>
<table class="sortable" border=1 cellborder=1>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
{% for m in db.machines() %}
  <tr>
    <td><a href="machines/{{m.id}}/">{{m.name}}:{{m.number}}</a></td>
  </tr>
{% endfor %}
</table>

{# List runs. #}
<h3>Run List</h3>
<table class="sortable" border=1 cellborder=1>
  <thead>
  <tr>
    <th>ID</th>
    <th>Machine</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
{% for r,m in db.query(perfdb.Run, perfdb.Machine).join(perfdb.Machine) %}
  <tr>
    <td><a href="runs/{{r.id}}/">{{r.id}}</a></td>
    <td><a href="machines/{{m.machine_id}}/">{{m.name}}:{{m.number}}</a></td>
    <td>{{r.start_time}}</td>
    <td>{{r.end_time}}</td>
  </tr>
{% endfor %}
</table>

{# List tests. #}
<h3>Test List</h3>
<table class="sortable" border=1 cellborder=1>
  <thead>
  <tr>
    <th>ID</th>
    <th>Test</th>
  </tr>
  </thead>
{% for id,name in db.query(perfdb.Test.id, perfdb.Test.name) %}
  <tr>
    <td><a href="tests/{{id}}/">{{id}}</a></td>
    <td>{{name}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
