{% set db = request.get_db() %}
{% set machine = db.getMachine(id) %}

{% extends "layout.html" %}
{% set components = [("browse", db_url_for("browse"))] %}
{% block title %}Machine: {{machine.name}}:{{machine.number}}{% endblock %}
{% block body %}

{# Show the machine info dictionary. #}
<table border=1 cellborder=1>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  </thead>
{% for mi in machine.info.values() %}
  <tr>
    <td>{{mi.key}}</td>
    <td>{{mi.value}}</td>
  </tr>
{% endfor %}
</table>

{# List associated runs. #}
<h3>Associated Runs</h3>
<table class="sortable" border=1 cellborder=1>
  <thead>
  <tr>
    <th>Run ID</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
{% for r in db.runs(machine=machine) %}
  <tr>
    <td><a href="{{db_url_for('run', id=r.id)}}">{{r.id}}</a></td>
    <td>{{r.start_time}}</td>
    <td>{{r.end_time}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
