{% set db = request.get_db() %}
{% set run = db.getRun(id) %}
{% set machine = db.getMachine(run.machine_id) %}

{% extends "layout.html" %}
{% set components = [("browse", db_url_for("browse"))] %}
{% block title %}Run: {{run.id}}{% endblock %}
{% block body %}

<table border=1 cellborder=1>
  <tr>
    <th>Machine</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
  <tr>
    <td><a href="{{db_url_for('machine', id=machine.id)}}">{{
        machine.name}}{{machine.number}}</a></td>
    <td>{{run.start_time}}</td>
    <td>{{run.end_time}}</td>
  </tr>
</table>

{# Show the run info dictionary. #}
<h3>Run Info</h3>
<table border=1 cellborder=1>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  </thead>
{% for mi in run.info.values() %}
  <tr>
    <td>{{mi.key}}</td>
    <td>{{mi.value}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
