{% import "simple_utils.html" as simple_utils %}
{% import "utils.html" as utils %}

{% set db = request.get_db() %}
{% set run = db.getRun(id) %}
{% set machine = run.machine %}

{% extends "layout.html" %}
{% set components = [(tag, db_url_for("simple_overview", tag=tag)),
                     ('machine', db_url_for("simple_machine",
                                            tag=tag, id=machine.id)),
                     ('run', db_url_for("simple_run",
                                      tag=tag, id=machine.id))] %}
{% block head %}
        <script src="{{ url_for('.static', filename='popup.js') }}"></script>
        <script src="{{ url_for('.static', filename='sorttable.js') }}"></script>
        <script src="{{ url_for('.static', filename='View2D.js') }}"></script>
{% endblock %}

{% block title %}Run Results{% endblock %}

{# Add JS to initialize the graph. #}
{% block onload %}init(){% endblock %}
{% block javascript %}
function init() {
    graph = new Graph2D("graph");
    graph.clearColor = [1, 1, 1];

    {{ graph_plots }}
    
    graph.xAxis.format = graph.xAxis.formats.normal;
    graph.draw();
}
{% endblock %}

{% block body %}

{% call simple_utils.simple_run_page(tag, machine, run, compare_to,
                                     neighboring_runs) %}

{{ utils.render_popup_begin('view_options', 'View Options', true) }}
<form action="" method="get">
<b>Show Median Absolute Deviation:</b>
<input type="checkbox" name="show_mad" value="yes"><br>

<b>Show Standard Deviation:</b>
<input type="checkbox" name="show_stddev" value="yes"><br>

<b>Show Linear Regression:</b>
<input type="checkbox" name="show_linear_regression" value="yes"><br>

{# Add all the hidden fields. #}
{% for name,value in request.args.items() %}
  {% if name.startswith('test.') or name.startswith('pset.') %}
    <input type="hidden" name="{{name}}" value="{{value}}"><br>
  {% endif %}
{% endfor %}

<input type="submit" name="submit" value="Update">
</form>
{{ utils.render_popup_end() }}

<h3>Graph</h3>
<table>
<tr>
<td rowspan=2 valign="top">
  <canvas id="graph" width="600" height="400"></canvas>
</td>
<td valign="top">
<table cellspacing=4 border=1>
<tr><th colspan=2>Test</th></tr>
{% for name,col in legend %}
    <tr><td bgcolor="{{ '%02x%02x%02x' % (
                          255*col[0], 255*col[1], 255*col[2]) }}">&nbsp;</td>
    <td>{{name}}</td></tr>
{% endfor %}
</table>
</td></tr>
<tr><td align="right" valign="bottom">
<font size="-2">
Shift-Left Mouse: Pan<br>
Alt/Meta-Left Mouse: Zoom<br>
Wheel: Zoom (<i>Shift Slows</i>)<br>
</font>
</td></tr>
</table>
<p>
<b>Plots</b>: {{ num_plots }}<br>
<b>Num Points</b>: {{ num_points }}<br>

<h2>Deltas</h2>
{% for deltas in plot_deltas %}
  {% set (name,col) = legend[loop.index0] %}
<h3>{{name}}</h3>
<table>
<tr>
  <th colspan=2>Revision</th>
  <th> </th>
  <th colspan=2>Value</th>
  <th></th>
  <th></th>
  <th colspan=2>MAD</th>
  <th colspan=2>Med - Min</th>
<tr>
  <th>Current</th>
  <th>Previous</th>
  <th>Delta (%)</th>
  <th>Current</th>
  <th>Previous</th>
  <th># Revs</th>
  <th> </th>
  <th>Current</th>
  <th>Previous</th>
  <th>Current</th>
  <th>Previous</th>
</tr>

{% for (pct,(r0,t0,mad0,med0),(r1,t1,mad1,med1)) in deltas %}
<tr>
  <td><a href="http://llvm.org/viewvc/llvm-project?view=rev&revision={{r1}}">{{r1}}</a></td>
  <td><a href="http://llvm.org/viewvc/llvm-project?view=rev&revision={{r0}}">{{r0}}</a></td>
  {{pct|aspctcell(delta=true)|safe}}
  <td>{{ "%.4f" % t1 }}</td><td>{{ "%.4f" % t0}}</td>
  <td>{{ r1 - r0 }}</td>
  <td> </td>
  <td>{{ "%.4f" % mad1 }}</td><td>{{ "%.4f" % mad0 }}</td>
  <td>{{ "%.4f" % (med1-t1) }}</td><td>{{ "%.4f" % (med0-t0) }}</td>
</tr>
{% endfor %}

</table>
{% endfor %}

<h3>Revisions to Sample</h3>
{% for rev in new_sample_list %}
  {{ rev }}
{% endfor %}
<p>
<h3>Revisions to Resample</h3>
{% for rev in resample_list|sort %}
  {{ rev }}
{% endfor %}
<p>

{% endcall %}

{% endblock %}
