{% import "utils.html" as utils %}

{% macro simple_run_page(tag, machine, run, compare_to,
                         neighboring_runs) %}

<center>
  <table>
    <tr>
      <td align=right>Machine:</td>
      <td>{{machine.name}}:{{machine.number}}</td>
    </tr>
    <tr>
      <td align=right>Run:</td>
      <td>{{run.start_time}} ({{
        run.info['run_order'].value}})</td>
    </tr>
{% if compare_to %}
    <tr>
      <td align=right>Compare To:</td>
      <td>{{compare_to.start_time}} ({{
        compare_to.info['run_order'].value}})</td>
    </tr>
{% endif %}
  </table>
</center>
<p>

<table width="100%%" border=1>
  <tr>
    <td valign="top" width="200">
      <a href="..">Homepage</a>
      <h4>Machine:</h4>
      <a href="{{ db_url_for('simple_machine', tag=tag, id=machine.id) }}">{{
        machine.name}}:{{machine.number}}</a>
      <h4>Runs:</h4>
      <ul>

{# Show a small number of neighboring runs. #}
{% for r in neighboring_runs %}
        <li>{{ "<h3>"|safe if r.id == run.id else "" }}
            <a href="{{db_url_for('simple_run', tag=tag, id=r.id)}}">{{
                     r.start_time}}</a>{{
            "</h3>"|safe if r.id == run.id else "" }}
{% endfor %}
      </ul>
    </td>
    <td valign="top">
      <table border=1>
      <tr>
        <td> <b>Nickname</b> </td>
        <td> {{machine.name}} </td>
      </tr>
      <tr>
        <td> <b>Machine ID</b> </td>
        <td> {{machine.id}} </td>
      </tr>
      </table>
{{ utils.render_popup_begin('machine_info', 'Machine Info', true) }}
      <table border=1>
{% for key,item in machine.info|dictsort(true) %}
      <tr>
        <td> <b>{{key}}</b> </td>
        <td>{{item.value}}</td>
      </tr>
{% endfor %}
      </table>
{{ utils.render_popup_end() }}

{{ utils.render_popup_begin('run_info', 'Run Info', true) }}
      <table border=1>
{% for key,item in run.info|dictsort(true) %}
      <tr>
        <td> <b>{{key}}</b> </td>
        <td>{{item.value.replace("\n","<br>")|safe}}</td>
      </tr>
{% endfor %}
      </table>
{{ utils.render_popup_end() }}
{{ caller() }}

    </td>
  </tr>
</table>

{% endmacro %}
