{% import "simple_utils.html" as simple_utils %}
{% import "utils.html" as utils %}

{% set db = request.get_db() %}

{% extends "layout.html" %}
{% set components = [(tag, db_url_for("simple_overview", tag=tag))] %}

{% block title %}Order Aggregate Report{% endblock %}

{% block head %}
  <script src="/static/jquery/1.5/jquery.js"></script>
  <script src="/static/flot/jquery.flot.js"></script>
  <script src="/static/order_aggregate_ui.js"></script>
{% endblock %}
{% block javascript %}
var g = {};

g.data_table = {{data_table|tojson|safe}};
g.test_subsets = {{test_subsets|tojson|safe}};
g.available_machines = {{available_machine_info|tojson|safe}};
g.orders_to_aggregate = {{orders_to_aggregate|tojson|safe}};

// Register initialization.
window.onload = function() {
  new OrderAggregateReport("order_aggregate_report_ui", g).init();
}
{% endblock %}

{% block body %}

<div id="order_aggregate_report_ui"></div>

{# Template code for dumping the data table, for use in debugging. #}
{#

<h1>Order Aggregate Data</h1>

{% for subset_name,subset_table in data_table|dictsort %}
<h2>{{ subset_name }}</h2>

<table>
<thead>
  <tr>
    <th>Test Name</th>
    <th>Machine</th>
{% for order in orders_to_aggregate %}
    <th>{{ order }}</th>
{% endfor %}
  </tr>
</thead>

{% set num_machines = available_machines|length %}
{% for test_name,test_data in subset_table|dictsort %}
{%   for machine in available_machines %}
{%     set machine_idx = loop.index0 %}
<tr>
{%     if loop.index0 == 0 %}
  <td rowspan="{{num_machines}}">{{ test_name }}</td>
{%     endif %}
  <td>{{ machine.name }}</td>
{%     for order in orders_to_aggregate %}
  <td>{{ test_data[loop.index0][machine_idx] }}</td>
{%     endfor %}
</tr>

{%   endfor %}
{% endfor %}
</table>

{% endfor %}

#}

{% endblock %}
