{% import "simple_utils.html" as simple_utils %}
{% import "utils.html" as utils %}

{% set db = request.get_db() %}
{% set run = db.getRun(id) %}
{% set machine = run.machine %}

{% extends "layout.html" %}
{% set components = [(tag, db_url_for("simple_overview", tag=tag)),
                     ('machine', db_url_for("simple_machine",
                                            tag=tag, id=machine.id))] %}
{% block head %}
        <script src="{{ url_for('.static', filename='popup.js') }}"></script>
        <script src="{{ url_for('.static', filename='sorttable.js') }}"></script>
        <script src="{{ url_for('.static', filename='View2D.js') }}"></script>
{% endblock %}

{% block title %}Run Results{% endblock %}

{# Add JS to run the init_report function, if embedded. #}
{% block onload %}init(){% endblock %}
{% block javascript %}
function init() {
    if (init_report) {
        init_report();
    }
}
{% endblock %}

{% block body %}

{% macro get_cell_value(cr) %}
{% set test_status = cr.get_test_status() %}
{% set value_status = cr.get_value_status() %}
{% set run_cell_value = "-" if cr.current is none else "%.4f" % cr.current %}

{% set cell_color = none %}
{% if test_status == runinfo.REGRESSED %}
    {% set cell_color = (233,128,128) %}
{% elif test_status == runinfo.IMPROVED %}
    {% set cell_color = (143,223,95) %}
{% elif test_status == runinfo.UNCHANGED_FAIL %}
    {% set cell_color = (255,195,67) %}
{% endif %}

{% if cell_color %}
    <td bgcolor="{{ '#%02x%02x%02x' % cell_color }}">{{
      run_cell_value}}</td>
{% else %}
    <td>{{run_cell_value}}</td>
{% endif %}

{% if (options.show_all or
       value_status == runinfo.REGRESSED or
       value_status == runinfo.IMPROVED) %}
    {{ cr.pct_delta|aspctcell|safe }}
{% else %}
    <td>-</td>
{% endif %}

{% if options.show_delta %}
    <td>{{ "-" if cr.delta is none else "%.4f" % cr.delta }}</td>
{% endif %}
{% if options.show_stddev %}
    <td>{{ "-" if cr.stddev is none else "%.4f" % cr.stddev }}</td>
{% endif %}
{% if options.show_mad %}
    <td>{{ "-" if cr.MAD is none else "%.4f" % cr.MAD }}</td>
{% endif %}
{% if options.show_all_samples %}
    <td>[
      {%- for v in cr.get_samples() -%}
        {{ ", " if not loop.first }}
        {{ "%.4f" % v }}
      {%- endfor -%}]</td>
{% endif %}

{% if options.show_sample_counts %}
    <td>{{cr.get_samples()|length}}</td>
{% endif %}

{% endmacro %}

{% call simple_utils.simple_run_page(tag, machine, run, compare_to,
                                     neighboring_runs) %}

{{ utils.render_popup_begin('view_options', 'View Options', true) }}
<form action="" method="get">
<b>Show Delta:</b>
<input type="checkbox" name="show_delta" value="yes" {{
       "checked" if options.show_delta }}><br>

<b>Show Standard Deviation:</b>
<input type="checkbox" name="show_stddev" value="yes" {{
       "checked" if options.show_stddev }}><br>

<b>Show Median Absolute Deviation:</b>
<input type="checkbox" name="show_mad" value="yes" {{
       "checked" if options.show_mad }}><br>

<b>Show All Values:</b>
<input type="checkbox" name="show_all" value="yes" {{
       "checked" if options.show_all }}><br>

<b>Show All Samples:</b>
<input type="checkbox" name="show_all_samples" value="yes" {{
       "checked" if options.show_all_samples }}><br>

<b>Show Sample Counts:</b>
<input type="checkbox" name="show_sample_counts" value="yes" {{
       "checked" if options.show_sample_counts }}><br>

<b>Number of Comparison Runs:</b>
<input type="text" name="num_comparison_runs" value="{{
       options.num_comparison_runs }}"><br>

<b>Show Report Graphs:</b>
<input type="checkbox" name="show_graphs" value="yes" {{
       "checked" if options.show_graphs }}><br>

<b>Hide Report By Default:</b>
<input type="checkbox" name="hide_report_by_default" value="yes" {{
       "checked" if options.hide_report_by_default }}><br>

<b>Test Filter (regexp):</b>
<input type="text" name="test_filter" value="{{
       options.test_filter }}"><br>

<input type="submit" name="submit" value="Update">
</form>
{{ utils.render_popup_end() }}

{{ utils.render_popup_begin('text_report', 'Report (Text)', true) }}
<pre>{{ text_report }}</pre>
{{ utils.render_popup_end() }}

{{ utils.render_popup_begin('html_report', 'Report (HTML)',
                            options.hide_report_by_default) }}
{{html_report|safe}}
{{ utils.render_popup_end() }}

<h3>Parameter Sets</h3>
<table border=1>
  <tr>
    <th rowspan=2>Name</th>
    <th colspan={{ts_summary.parameter_sets|length}}>Parameters</th>
  </tr>
  <tr>
{% for key in ts_summary.parameter_keys %}
    <th>{{key}}</th>
{% endfor %}
  </tr>

{% for pmap in ts_summary.parameter_maps %}
  <tr>
    <td>P{{loop.index0}}</td>
    {% for key in ts_summary.parameter_keys %}
        {% set item = pmap.get(key) %}
    <td>{{ "-" if item is none else item }}</td>
    {% endfor %}
  </tr>
{% endfor %}
</table>

<h3>Tests</h3>

{% set pset_cols = (
      2 + options.show_delta + options.show_stddev + options.show_mad +
      options.show_all_samples + options.show_sample_counts) %}

<form method="GET" action="{{ db_url_for('simple_graph',
                                         tag=tag, id=id) }}">
<table class="sortable" border=1>
<thead>
  <tr>
    <th rowspan="1"></th>
    <th rowspan="1">Name</th>
{% for key in ts_summary.parameter_sets %}
    <th colspan="{{pset_cols}}">P{{loop.index0}}</th>
{% endfor %}
  </tr>
  <tr>
    <th></th>
    <th></th>
{% for key in ts_summary.parameter_sets %}
    <th><input type="checkbox" name="pset.{{loop.index0}}"
               value="on" checked></th>
    <th>%</th>
    {% if options.show_delta %}
    <th>&Delta;</th>
    {% endif %}
    {% if options.show_stddev %}
    <th>&sigma;</th>
    {% endif %}
    {% if options.show_mad %}
    <th>MAD</th>
    {% endif %}
    {% if options.show_all_samples %}
    <th>Samples</th>
    {% endif %}
    {% if options.show_sample_counts %}
    <th>N</th>
    {% endif %}
{% endfor %}
  </tr>
</thead>

{% for name in test_names|sort %}
  <tr>
    <td><input type="checkbox" name="test.{{name}}"></td>
    <td>{{name}}</td>
    {% for pset in ts_summary.parameter_sets %}
      {% set cr = simple_run_info.get_run_comparison_result(
            run, run_status_kind, compare_to, compare_to_status_kind,
            name, pset, comparison_window) %}
        {{ get_cell_value(cr) }}
    {% endfor %}
  </tr>
{% endfor %}
</table>
<input type="submit" value="Graph">
</form>

{% endcall %}

{% endblock %}
