{% extends "layout.html" %}
{% set components = [] %}
{% block title %}Submit Run{% endblock %}
{% block body %}

{% if error is defined %}
  <p><font color="#FF0000">{{ error }}</font></p>
{% endif %}

<form method="post" enctype="multipart/form-data" action="">
<b>Input File (plist):</b><br>
<input type="file" name="file"><br>

<p><b>Input Data (plist):</b><br>
<textarea name="input_data"></textarea>

<p><b>Commit*:</b><br>
<select name="commit">
<option selected="selected" value="0">0</option>
<option value="1">1</option>
</select><br>

<p><input type="submit" name="submit" value="Submit">
</form>

{% endblock %}
