{% set db = request.get_db() %}
{% set test = db.getTest(id) %}

{% extends "layout.html" %}
{% set components = [("browse", db_url_for("browse"))] %}
{% block title %}Test: {{test.name}}{% endblock %}
{% block body %}

{# Show the test info dictionary. #}
<h3>Test Info</h3>
<table border=1 cellborder=1>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  </thead>
{% for key,value in test.info|dictsort %}
  <tr>
    <td>{{key}}</td>
    <td>{{value}}</td>
  </tr>
{% endfor %}
</table>

{# List samples. #}
<h3>Associated Samples</h3>
<table class="sortable" border=1 cellborder=1>
  <thead>
  <tr>
    <th>Run ID</th>
    <th>Value</th>
  </tr>
  </thead>
{% for s in db.samples(test=test) %}
  <tr>
    <td><a href="{{db_url_for('run', id=s.run_id)}}">{{s.run_id}}</a></td>
    <td>{{s.value}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
