{% set db = request.get_db() %}

{% extends "layout.html" %}
{% set components = [(testsuite_name, v4_url_for("v4_overview"))] %}
{% block title %}Overview{% endblock %}
{% block body %}

{# Find recent runs. #}
<center><h3>Submission Overview</h3></center>
<table width="100%%">
  <tr>
    <td valign="top" width="50%">
      <center>
      <h3>Active Machines</h3>
      <table class="sortable" border=1>
        <thead>
        <tr>
          <th>Latest Submission</th>
          <th>Machine</th>
          <th>Results</th>
        </tr>
        </thead>

{# Show the most active machines. #}
{% for machine_name,r in active_machines|dictsort %}
      <tr>
        <td>{{r.start_time}}</td>
        <td align=left><a href="{{v4_url_for('v4_machine', id=r.machine.id)}}">{{
            r.machine.name}}:{{r.machine.id}}</a></td>
        <td><a href="{{v4_url_for('v4_run', id=r.id)}}">
            View Results</a></td>
      </tr>
{% endfor %}

      </table>
      </center>
    </td>
    <td valign="top">
      <center>
      <h3>Recent Submissions</h3>
      <table class="sortable" border=1>
        <thead>
        <tr>
          <th>Run Order</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Machine</th>
          <th>Results</th>
        </tr>
        </thead>

{# Show the active submissions. #}
{% for r,run_order in active_submissions %}
{% set m = r.machine %}
      <tr>
        <td><a href="{{v4_url_for('v4_order', id=r.order.id)}}">{{
            run_order}}</a></td></td>
        <td>{{r.start_time}}</td>
        <td>{{r.end_time}}</td>
        <td align=left><a href="{{v4_url_for('v4_machine',id=m.id)}}">{{
            m.name}}:{{m.id}}</a></td>
        <td><a href="{{v4_url_for('v4_run', id=r.id)}}">
            View Results</a></td>
      </tr>
{% endfor %}
      </table>
      </center>
    </td>
  </tr>
</table>

{% endblock %}
