{% import "v4_utils.html" as v4_utils %}
{% import "utils.html" as utils %}

{% set run = request_info.run %}
{% set compare_to = request_info.compare_to %}
{% set ts = request_info.ts %}
{% set machine = run.machine %}

{% extends "layout.html" %}
{% set components = [(ts.name, v4_url_for("v4_overview")),
                     ('machine', v4_url_for("v4_machine", id=machine.id))] %}
{% block head %}
        <script src="{{ url_for('.static', filename='popup.js') }}"></script>
        <script src="{{ url_for('.static', filename='sorttable.js') }}"></script>
{% endblock %}

{% block title %}Run Results{% endblock %}

{% block body %}

{% macro get_cell_value(cr) %}
{% set test_status = cr.get_test_status() %}
{% set value_status = cr.get_value_status() %}
{% set run_cell_value = "-" if cr.current is none else "%.4f" % cr.current %}

{% if options.show_previous %}
{% set prev_cell_value = "-" if cr.previous is none else "%.4f" % cr.previous %}
    <td>{{prev_cell_value}}</td>
{% endif %}

{% set cell_color = none %}
{% if test_status == runinfo.REGRESSED %}
    {% set cell_color = (233,128,128) %}
{% elif test_status == runinfo.IMPROVED %}
    {% set cell_color = (143,223,95) %}
{% elif test_status == runinfo.UNCHANGED_FAIL %}
    {% set cell_color = (255,195,67) %}
{% endif %}

{% if cell_color %}
    <td bgcolor="{{ '#%02x%02x%02x' % cell_color }}">{{
      run_cell_value}}</td>
{% else %}
    <td>{{run_cell_value}}</td>
{% endif %}

{% if (options.show_all or
       value_status == runinfo.REGRESSED or
       value_status == runinfo.IMPROVED) %}
    {{ cr.pct_delta|aspctcell|safe }}
{% else %}
    <td>-</td>
{% endif %}

{% if options.show_delta %}
    <td>{{ "-" if cr.delta is none else "%.4f" % cr.delta }}</td>
{% endif %}
{% if options.show_stddev %}
    <td>{{ "-" if cr.stddev is none else "%.4f" % cr.stddev }}</td>
{% endif %}
{% if options.show_mad %}
    <td>{{ "-" if cr.MAD is none else "%.4f" % cr.MAD }}</td>
{% endif %}
{% if options.show_all_samples %}
    <td>[
      {%- for v in cr.get_samples() -%}
        {{ ", " if not loop.first }}
        {{ "%.4f" % v }}
      {%- endfor -%}]</td>
{% endif %}

{% if options.show_sample_counts %}
    <td>{{cr.get_samples()|length}}</td>
{% endif %}

{% endmacro %}

{% call v4_utils.v4_run_page(ts, machine, run, compare_to,
                             request_info.neighboring_runs,
                             request_info.comparison_neighboring_runs) %}

{{ utils.render_popup_begin('view_options', 'View Options', true) }}
<form action="" method="get">
<b>Show Delta:</b>
<input type="checkbox" name="show_delta" value="yes" {{
       "checked" if options.show_delta }}><br>

<b>Show Previous Value:</b>
<input type="checkbox" name="show_previous" value="yes" {{
       "checked" if options.show_previous }}><br>

<b>Show Standard Deviation:</b>
<input type="checkbox" name="show_stddev" value="yes" {{
       "checked" if options.show_stddev }}><br>

<b>Show Median Absolute Deviation:</b>
<input type="checkbox" name="show_mad" value="yes" {{
       "checked" if options.show_mad }}><br>

<b>Show All Values:</b>
<input type="checkbox" name="show_all" value="yes" {{
       "checked" if options.show_all }}><br>

<b>Show All Samples:</b>
<input type="checkbox" name="show_all_samples" value="yes" {{
       "checked" if options.show_all_samples }}><br>

<b>Show Sample Counts:</b>
<input type="checkbox" name="show_sample_counts" value="yes" {{
       "checked" if options.show_sample_counts }}><br>

<b>Number of Comparison Runs:</b>
<input type="text" name="num_comparison_runs" value="{{
       options.num_comparison_runs }}"><br>

<b>Show Report Graphs:</b>
<input type="checkbox" name="show_graphs" value="yes" {{
       "checked" if options.show_graphs }}><br>

<b>Show Data Table:</b>
<input type="checkbox" name="show_data_table" value="yes" {{
       "checked" if options.show_data_table }}><br>

<b>Hide Report By Default:</b>
<input type="checkbox" name="hide_report_by_default" value="yes" {{
       "checked" if options.hide_report_by_default }}><br>

<b>Test Filter (regexp):</b>
<input type="text" name="test_filter" value="{{
       options.test_filter }}"><br>

<b>Test Min. Value Filter:</b>
<input type="text" name="test_min_value_filter" value="{{
       options.test_min_value_filter }}"><br>

{% if compare_to %}
<input type="hidden" name="compare_to" value="{{compare_to.id}}">
{% endif %}

<input type="submit" name="submit" value="Update">
</form>

{{ utils.render_popup_end() }}

{{ utils.render_popup_begin('text_report', 'Report (Text)', true) }}
<pre>{{ request_info.text_report }}</pre>
{{ utils.render_popup_end() }}

{{ utils.render_popup_begin('html_report', 'Report (HTML)',
                            options.hide_report_by_default) }}
{{request_info.html_report|safe}}
{{ utils.render_popup_end() }}

<h3>Tests</h3>

{% set graph_base=v4_url_for('v4_graph', id=run.id) %}
<form method="GET" action="{{ graph_base }}">

{# Report one table for each primary field. #}
{% for field in primary_fields %}
{{ utils.render_popup_begin('test_data.' + field.name, field.name) }}
<h4>{{field.name}}</h4>

<table class="sortable" border=1>
<thead>
  <tr>
    <th rowspan="1"></th>
    <th rowspan="1">Name</th>
    {% if options.show_previous %}
    <th>Prev</th>
    {% endif %}
    <th>Current</th>
    <th>%</th>
    {% if options.show_delta %}
    <th>&Delta;</th>
    {% endif %}
    {% if options.show_stddev %}
    <th>&sigma;</th>
    {% endif %}
    {% if options.show_mad %}
    <th>MAD</th>
    {% endif %}
    {% if options.show_all_samples %}
    <th>Samples</th>
    {% endif %}
    {% if options.show_sample_counts %}
    <th>N</th>
    {% endif %}
  </tr>
</thead>

{% for test_name,test_id in test_info %}
{%  set cr = request_info.sri.get_run_comparison_result(
            run, compare_to, test_id, field, comparison_window) %}
{%  if cr.previous is not none or cr.current is not none %}
{%    if cr.current is none or cr.current >= test_min_value_filter %}
  <tr>
    <td><input type="checkbox" name="test.{{test_id}}"
               value="{{field.index}}"></td>
    <td><a href="{{graph_base}}?test.{{test_id}}={{field.index}}">{{
        test_name}}</a></td>
    {{ get_cell_value(cr) }}
  </tr>
{%    endif %}
{%  endif %}
{% endfor %}
</table>
{{ utils.render_popup_end() }}

{% endfor %}
<p><input type="submit" value="Graph">
</form>

{% if options.show_data_table %}

<h3>Test Data</h3>

<pre>
Name{% for field in primary_fields
%}	{{field.name}}	{%
 endfor %}
-{% for field in primary_fields
%}	Prev	Value	%{% endfor %}
{% for test_name,test_id in test_info
%}{{
test_name
}}{%
  for field in primary_fields
%}{%
  set cr = request_info.sri.get_run_comparison_result(
            run, compare_to, test_id, field, comparison_window)
%}	{{cr.previous}}	{{cr.current}}	{{cr.pct_delta}}{%
   endfor %}
{%
endfor %}
</pre>
{% endif %}

{% endcall %}

{% endblock %}
