# -*- Python -*-

"""
LLVM Lab Configuration File
"""

# Server administrator information.
ADMIN_LOGIN = %(admin_login)r
ADMIN_PASSHASH = %(admin_passhash)r
ADMIN_NAME = %(admin_name)r
ADMIN_EMAIL = %(admin_email)r

# Should server run in debug mode?
DEBUG = %(debug_server)r

# Email configuration.
EMAIL_RELAY_SERVER = 'localhost'
MAIL_ERRORS = True

# Secret key for this server instance.
SECRET_KEY = %(secret_key)r

# Path to the installation directory (which stores data files, status, logs,
# etc.).
INSTALL_PATH = %(install_path)r

# Name of the plugin module to import (optional).
PLUGIN_MODULE = %(plugin_module)r
