<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Machine</key>
	<dict>
		<key>Info</key>
		<dict>
			<key>extrakey</key>
			<string>extravalue</string>
			<key>os</key>
			<string>SAMPLE OS</string>
			<key>hardware</key>
			<string>x86_64</string>
		</dict>
		<key>Name</key>
		<string>LNT SAMPLE MACHINE</string>
	</dict>
	<key>Run</key>
	<dict>
		<key>End Time</key>
		<string>2009-11-17 03:44:48</string>
		<key>Info</key>
		<dict>
			<key>tag</key>
			<string>nts</string>
			<key>run_order</key>
			<string>      1</string>
		</dict>
		<key>Start Time</key>
		<string>2009-11-17 02:12:25</string>
	</dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>Data</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nts.sampletest.compile.status</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.019</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nts.sampletest.compile</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nts.sampletest.exec.status</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.3</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nts.sampletest.exec</string>
		</dict>

		<dict>
			<key>Data</key>
			<array>
				<real>0.0189</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nts.sampletest.compile</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.29</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nts.sampletest.exec</string>
		</dict>
	</array>
</dict>
</plist>
