body {
    background-color: #F0F3FF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
                 Helvetica, sans-serif;
    font-size: small;
}

div.body {
    color: #000;
    margin: 20px;
}
div.body a {
    color: #333;
}

div.header {
    background-color: #50505A;
    color: #FFF;
    font-size: 125%;
    padding: 10px 10px;
    text-align: left;
}
div.header a {
    color: #FFF;
}

div.footer {
    background-color: #50505A;
    color: #FFF;
    font-size: 75%;
    padding: 10px 10px;
    text-align: right;
}
div.footer a {
    color: #FFF;
}

div.flash_messages {
    margin: 10px;
}
div.flash_message {
    background: #CEE5F5;
    padding: 10px;
    border: 1px solid #AACBE2;
}

div.popup {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    position: absolute;
    background-color: #FFFFFF;
    padding: 4px 4px 4px 4px;
    float: left;
    display: none;
    border-width: 1px;
    border-style: solid;
}

div.popup_inner {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #F0F3EF;
    padding: 4px 4px 4px 4px;
}

/* Dashboard Features */

a.help-link {
    padding: 0px;
    font-size: 75%;
    vertical-align: super;
}

td.phase-cell {
    padding: 4px 4px 4px 4px;
    color: #333333;
    background-color: #eee;
}

.phase-cell {
    text-align: center;
    height: 20px;
    padding: 0 2px;
    line-height: 0;
    white-space: nowrap;
}

.phase-cell a {
    opacity: 0.85;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    width: 90%;
    height: 20px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Build Status Indicators */
.success {
    color: #FFFFFF;
    background-color: #8f8;
    border-color: #4F8530;
}
.failure {
    color: #FFFFFF;
    background-color: #f99;
    border-color: #A77272;
}
.warnings {
    color: #FFFFFF;
    background-color: #ffc343;
    border-color: #C29D46;
}
.running {
    color: #666666;
    background-color: #ff6;
    border-color: #C5C56D;
}
.unknown {
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    background-color: #fff;
}
