<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Machine</key>
	<dict>
		<key>Info</key>
		<dict>
			<key>gcc_version</key>
			<string> i686-apple-darwin10-gcc-4.2.1 (GCC) 4.2.1 (Apple Inc. build 5646)</string>
			<key>name</key>
			<string> smoosh-01</string>
			<key>os</key>
			<string> Darwin 10.2.0</string>
			<key>uname</key>
			<string> Darwin smoosh-01 10.2.0 Darwin Kernel Version 10.2.0: Tue Nov  3 10:37:10 PST 2009; root:xnu-1486.2.11~1/RELEASE_I386 i386hardware: i386</string>
		</dict>
		<key>Name</key>
		<string>smoosh-01.apple.com</string>
	</dict>
	<key>Run</key>
	<dict>
		<key>End Time</key>
		<string>2009-11-17 03:44:48</string>
		<key>Info</key>
		<dict>
			<key>tag</key>
			<string>nightlytest</string>
		</dict>
		<key>Start Time</key>
		<string>2009-11-17 02:12:25</string>
	</dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>Data</key>
			<array>
				<string> 24.50</string>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.configtime.wall</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<string> 22.59</string>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.configtime.user</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<string> 168.04</string>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.checkouttime.wall</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<string> 0</string>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.checkouttime.user</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>209.99000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.buildtime.wall</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>2501.0</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.buildtime.user</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<string> 0.0</string>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.dgtime.wall</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<string> 0.0</string>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.dgtime.user</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<true/>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.Summary.buildstatus</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.DejaGNU.PASS</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.DejaGNU.FAIL</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.DejaGNU.XPASS</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.DejaGNU.XFAIL</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.gcc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.019300000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.gcc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.bc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>2912.0</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.bc.compile.size</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.010800000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc-beta.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.010800000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc-beta.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.jit.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.011299999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.jit.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.gcc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>3.25</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.gcc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.cbe.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>3.2200000000000002</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.cbe.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>3.2200000000000002</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc-beta.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>3.2200000000000002</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.llc-beta.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.jit.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>3.0899999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fannkuch.jit.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.gcc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0137</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.gcc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.bc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>2848.0</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.bc.compile.size</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.013299999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc-beta.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0135</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc-beta.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.jit.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0144</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.jit.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.gcc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.1699999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.gcc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.cbe.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.3400000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.cbe.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.1499999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc-beta.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.1599999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.llc-beta.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.jit.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.1799999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/fasta.jit.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.gcc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.013599999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.gcc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.bc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>3248.0</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.bc.compile.size</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.012699999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc-beta.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.012800000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc-beta.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.jit.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0121</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.jit.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.gcc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.3200000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.gcc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.cbe.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.3500000000000001</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.cbe.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.3999999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc-beta.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.3999999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.llc-beta.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.jit.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1.4299999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/n-body.jit.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.gcc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0058999999999999999</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.gcc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.bc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>1264.0</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.bc.compile.size</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0067000000000000002</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc-beta.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0067999999999999996</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc-beta.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.jit.compile.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.0071999999999999998</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.jit.compile.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.gcc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.92000000000000004</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.gcc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.cbe.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.93999999999999995</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.cbe.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc.exec.success</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<real>0.93999999999999995</real>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc.exec.time</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<integer>1</integer>
			</array>
			<key>Info</key>
			<dict>
			</dict>
			<key>Name</key>
			<string>nightlytest.SingleSource/Benchmarks/BenchmarkGame/nsieve-bits.llc-beta.exec.success</string>
		</dict>
	</array>
</dict>
</plist>
