name: CI Python Unit Tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run_tests:
    name: Check CI Python Unit Tests
    if: github.repository_owner == 'llvm'
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
        cache: 'pip'
    - name: Install Python Dependencies
      run: |
        pip3 install -r premerge/buildbot/requirements.lock.txt
        pip3 install -r premerge/advisor/requirements.lock.txt
        pip3 install pytest==8.4.1
    - name: Run Tests
      run: pytest premerge/ zorg/buildbot/builders/annotated/premerge/dispatch_job_test.py
